table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th {
    background-color: #660381;
    color: white;
}
h1{
    font-family: Copperplate, Papyrus, fantasy;
}
body{
    background-image: url("widyaaa.jpeg");
}